.App {
  padding: 2rem;
  background: #fff;
  color: #333;
  max-width: 1000px;
  margin: auto;
}

.slider-group {
  margin-bottom: 20px;
}

input[type="range"] {
  width: 80%;
}

.number-box {
  width: 100px;
  margin-left: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.results {
  flex: 1;
}

.apply-btn {
  background-color: orange;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  margin-top: 20px;
}
